<?xml version="1.0" encoding="UTF-8" ?>
<!--
	namespace：用来区分模块的
-->
<!--约束-->
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口的全限定名-->
<mapper namespace="cn.itcast.dao.UserDao">
<!-- select 查询 -->
	<!--方法名-->
	<select id="findAll" resultType="cn.itcast.domain.User">
		select *  from user   
	</select>    
</mapper>   