<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<!--spring与dubbo整合的配置文件-->
    <!--配置服务（应用）名称-->
    <dubbo:application name="pinyougou-service-sellergoods"></dubbo:application>
    <!--配置注册中心-->
    <dubbo:registry address ="zookeeper://192.168.200.128:2181"></dubbo:registry>
    <!--配置dubbo的协议-->
    <dubbo:protocol name="dubbo" port ="20880"></dubbo:protocol>
    <!--服务注册：暴露服务接口地址-->
    <dubbo:annotation package="cn.itcast.core.service"></dubbo:annotation>

</beans>