<component name="ArtifactManager">
  <artifact type="war" name="springmvc_day01_b:war">
    <output-path>$PROJECT_DIR$/../maven/springmvc_day01_b/target</output-path>
    <root id="archive" name="springmvc_day01_b.war">
      <element id="artifact" artifact-name="springmvc_day01_b:war exploded" />
    </root>
  </artifact>
</component>